<!DOCTYPE html>
<html>
  <head>
    <title>PostBootstrapApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <body>
    <!-- ***** 以下を追加 ***** -->
    <%= link_to "投稿一覧", posts_path %> <%= link_to "新規投稿", new_post_path %>
    <hr>
    <!-- ***** 以上を追加 ***** -->
    <%= yield %>
  </body>
</html>
    <%= yield %>
  </body>
</html>
